@{
    ViewBag.Title = "Generate Reports";
    Layout = "_DashboardLayout";
}


<h2 class="h2">Generate Report</h2>

<div class="card w-50 mt-2">
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="" class="mt-n1"> Report Type</label>
                <select class="form-control">
                    <option value="products"> Products Report </option>
                    <option value="sales"> Sales Report </option>
                    <option value="returns"> Returns Report </option>
                    <option value="inventory"> Inventory Report </option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label for=""> From Date </label>
                        <input type="date" class="form-control"/>
                    </div>
                    <div class="col">
                        <label for=""> To Date </label>
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block"> Generate </button>
        </form>

    </div>
</div>