@model EdmanOnlineShop.ViewModels.WriteFeedbackViewModel

@{
    ViewBag.Title = "Write Feedback";
    Layout = "_Layout";
}

<div class="container-fluid" style="width:90%!important; margin: auto">

    <h2 class="h2">Write Feedback</h2>

    <div class="row">
        <div class="col-6 m-auto">
            <div class="card">
                <div class="card-body">
                    <form asp-action="WriteFeedback" class="form">
                        <div class="form-group">
                            <input type="hidden" asp-for="ProductID" value="@Model.ProductID">
                            <label asp-for="FeedbackMessage"> Feedback Content </label>
                            <textarea asp-for="FeedbackMessage" class="form-control"></textarea>
                            <span asp-validation-for="FeedbackMessage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rating">Rating </label>
                            <input type="number" asp-for="Rating" min="1" max="5" class="form-control" placeholder="Please rate from 1-5">
                            <span asp-validation-for="FeedbackMessage" class="text-danger"></span>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>