@* @model IEnumerable<EdmanOnlineShop.Models.CartItem> *@
@* @{ *@
@*     ViewBag.Title = "Category"; *@
@*     Layout = "_DashboardLayout"; *@
@* } *@
@* *@
@* @foreach (var item in Model) *@
@* { *@
@*     <p> @Html.DisplayFor(item.)</p> *@
@* } *@