@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container-fluid" style="width:90%!important; margin: auto">
    <header class="mt-4">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>