/*body {*/
/*    font-family: "Segoe UI", sans-serif;*/
/*}*/



.form-control, .btn, .card, .card-body, .card-footer, .card-img-top {
    bordrer-radius: 0!important;
}

.card-product:hover {
    border-color: rgba(244, 128, 36, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(244, 128, 36, 0.2);
    outline: 0 none;
    transition: all 0.2s ease;
}
.text-primary, a {
    color: #F48024;
}



.btn-primary {
    background: #f48024;  
    border-color: #f48024;
    outline: 0!important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px!important;
}


.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    border-color: #f48024!important;
    background: #dd6f23!important;
    outline: 0!important;
    transition: all 0.2s ease;
}

.btn-primary:active {
    box-shadow: 0 3px 10px #e7e7e7!important;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

a:hover {
    color: #dd6f23;
    text-decoration: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(244, 128, 36, 0.8)!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(244, 128, 36, 0.2) !important;
    outline: 0 none!important;
    transition: all 0.2s ease!important;
}


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    transition: all 0.2s ease;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.img-holder{
    /*height: 25px;      !* equals max image height *!*/
    width: 200px;
    white-space: nowrap; /* this is required unless you put the helper span closely near the img */

    text-align: center; margin: 1em 0
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.h2 {
    font-weight: 500;
    font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    margin: 0!important;
}

h4.card-title {
    color: #202020;
    font-size: 16px;

}

.product-price {
    font-weight: 400!important;
    font-size: 18px;
    color: #f48024;;
}
.product-price-lg{
    font-weight: 400!important;
    font-size: 32px;
   
}

.card-product {
    /*padding: 0.8rem;*/
    border-color: white;
    display: none;
}

.padding-0{
    padding: 2px!important;
}

.card-footer {
    
    border-top: 0;
}

.card-body-product {
    padding-bottom: 0.1rem!important;
}


.side-image {
    background-image: url("/images/work_cover.jpg");
    background-size: cover;
    background-position: -200px 0px;
}

.btn#logout {
    text-decoration: none ! important;
    padding: 0!important;
}

.dropdown-menu {
    border-radius: 0!important;
    margin-top: 9px;
    border-top: 0;
}

#register_card {
box-shadow: 0px 5px 20px rgba(102, 102, 102, 0.12);}

.list-group-item {
    padding: 0.5rem 1rem!important;
}

.list-group-item.active {
    border-color: #f48024;
    background: #f48024;
}


.dropdown-item:active {
    background: #f48024;!important;
    color: white!important;
}



.form-control, .btn{
    font-size: 16px!important;
    padding: 0.2rem 0.5rem!important;
    height: auto!important;
    border-radius: 0!important;
}

.card, .card-footer, .card-img-top, .card-header {
    border-radius: 0!important;
}

.btn-lg {
    padding: 0.5rem 0.85rem!important;
    font-size: 17px!important;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 8px;

}

.btn-link:active {
    color: white!important;
}


.sidebar {
    background: #fafafa;
    box-shadow: 0 3px 25px rgba(50, 50, 50, 0.10);
}

.dropdown-menu {
    border: 1px solid #e7e7e7!important;
}

#content-wrapper {
    padding-left: 1rem;
}

.nav-link {
    color: #0c0c0c;
}

.nav-link.active {
    background: #343a40!important;
    border-radius: 0!important;
}
.nav-link:hover{
    color: #888;
}

.sidebar .nav-item .nav-link {
    color: #202020!important;
}

.sidebar .nav-item .nav-link:hover {
    color: #f48024!important;
}

.product-description {
    font-size: 13px!important;
}

.product-name {
    font-size: 34px;
    font-weight: 300;
}

.product-name-card {
    font-weight: 600!important;
    min-height: 38px!important;
    margin-top: 15px!important;
}

.form-group label{
    font-weight: 500;
    color: #343a40;
}


select[name='products_table_length'], select[name='categories_table_length']{
    /*display: none!important;*/
    width: 65px!important;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}


/*.card-image-top {*/
/*    max-width:225px!important;*/
/*    max-height:225px!important;*/
/*    width: auto!important;*/
/*    height: 220px;*/
/*}*/

#products_table, #categories_table {
    display: none;
}

.product-price-cart {
    color: #f48024!important;
    font-size: 20px;
    font-weight: 400;
}

.product-name-h4 {
    font-size: 24px;
}


.bg-edman-dark {
    background-color: #191d2c;
}

.text-light {
    color: #e7e7e7!important;
}

.carousel-item {
    min-height: calc(100vh - 59px);
}


.carousel-caption p, .carousel-caption h3 {
    text-shadow: 2px 4px 15px #000!important;
}

.nav-link-edman {
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    transition: all 0.2s ease;
}

.nav-link-edman:hover, .edman-active{
    color: #f48024!important;
    transition: all 0.2s ease;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}


.list-group-item {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px!important;
}



/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}
.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}
@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
