@using Microsoft.AspNetCore.Identity
@model IEnumerable<EdmanOnlineShop.Models.Product>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Products";
}

<div class="wrapper" style="margin: auto!important;width: 90%">
    
    
<div class="row mb-2">
    <div class="col">
        <h2 class="h2"> Products </h2>
        @if (User.IsInRole("Admin"))
        {
            <a href="/Products/ProductsTable"> Products Table </a>
        }
    </div>

</div>


<div class="row" >
    <div class="col-2">
        <form action="">
            <input type="text" name="ProductSearch" class="form-control" placeholder="Search products">
        </form>
    </div>
    <div class="col-10">
        <div class="row">
             @foreach (var item in Model)
             {
                <div class="col-lg-3 col-md-8 mb-3 padding-0">
                    <a href="/Products/ViewProduct?productId=@Html.DisplayFor(modelItem => item.ProductID)">
                        <div class="card h-100 card-product">
                            <div class="card-body card-body-product">
                                @{
                                                        var base64 = Convert.ToBase64String(item.ProductImage);
                                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                     }
                                <div class="img-holder" style="height: 225px!important; ">
                                    <span class="helper"></span>
                                    <img class="card-img-top my-auto" src="@imgSrc" style="width: 100%; height:  auto;" alt=""/>
                                </div>
                                                    <h4 class="card-title product-name-card">
                                                        @Html.DisplayFor(modelItem => item.ProductName)
                                                    </h4>
                                                    <h5 class="product-price">
                                                        ₱<span class="price">@Html.DisplayFor(modelItem => item.Price)</span>
                                                    </h5>
                            </div>
                            <div class="card-footer">    
                                <p class="mb-0">
                                    @Model
                                </p>
                                </div>
                        </div>
                    </a>
        
                </div>
                 
             }
        </div>
    </div>
</div>
</div>
