@model EdmanOnlineShop.ViewModels.ArchiveProductViewModel
@{
    ViewData["Title"] = "Add Product";
    Layout = "_DashboardLayout";
}

<h2 class="h2"> Restore Archived Product </h2>
<div class="card text-left mx-auto mt-4 mb-4" style="width: 100%;">
    <div class="card-body">
        <h4> Are you sure you want to restore this? </h4>
        <p> @Model.ProductName </p>
        <p class="text-muted"> @Model.ProductDescription </p>
    </div>
    <div class="card-footer">
        <form asp-action="Restore" asp-route-id="@Model.ProductID">
                    <button type="submit" class="btn btn-danger"> Confirm Restore </button>
        </form>
    </div>
</div>
<environment include="Development">
    <script src="~/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>